$fog: #f0f0f0;
$dark-blue: #2193b0;
$light-blue: #6dd5ed;
$boulder: #484949;
$dark-boulder: #2f2f2f;
.product-catalog {
  margin-top: 2rem;
  .filter-tools {
    display: flex;
    max-width: 75%;
    margin: 1rem 0;
    div.pagination {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      button.page-button {margin: 5px;}
    }
    div.search {flex: 1 0 auto;}
  }
}

.ReactModalPortal {
  position: relative;
  z-index: 1000;
  button {
    -webkit-appearance: none;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 250ms;
    &:hover {transition: all 250ms;}
  }
  .close-button {
    background: white;
    float: right;
    color: $boulder;
    max-width: 75px;
    border: 1px solid $boulder;
  }
  div.product-content, div.user-content {
    display: flex;
    //align-items: center;
    justify-content: center;
    width: 100%;
  }
  .product-card, .user-card {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
    padding: 1rem;
    flex: 1 0 auto;
    margin: 1rem;
    max-width: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    //justify-content: center;
    h4 {
      font-size: 1.1rem; text-align: center;
      margin: 0.5rem auto;
    }
    h2 {
      font-size: 1.2rem;
      color: darkgreen;
      font-weight: bold;
      text-align: center;
      margin: 0.5rem auto;
    }
    p.description {
      font-size: 0.9rem;
      color: $boulder;
      margin: 0;
    }
    p.category {
      font-size: 0.9rem;
      color: $boulder;
      text-transform: uppercase;
      margin: 1rem 0 0.5rem;
      text-align: center;
    }
  }
  div.create-product {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
    padding: 1rem;
    flex: 1 0 auto;
    margin: 1rem;
    max-width: 500px;
    .product-block, .user-block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
      .form-field {
        width: 45%;
        max-width: 350px;
        display: flex;
        flex-flow: column;
        margin: 0 5px 1rem;
      }
    }
    button.submit-button {
      background: #00A86B;
      &:hover {background: darken(#00A86B, 10%);}
    }
  }
}

.product-list {
  display: flex;
  flex-flow: row wrap;

  .product-card {
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    margin: 10px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
    display: flex; flex-flow: column;
    align-items: center;
    //justify-content: center;
    padding: 1rem;
    h4 {
      font-size: 1.1rem; text-align: center;
      margin: 0.5rem auto;
    }
    h2 {
      font-size: 1.2rem;
      color: darkgreen;
      font-weight: bold;
      text-align: center;
      margin: 0.5rem auto;
    }
    p.description {
      font-size: 0.9rem;
      color: $boulder;
      margin: 0;
    }
    p.category {
      font-size: 0.9rem;
      color: $boulder;
      text-transform: uppercase;
      margin: 1rem 0 0.5rem;
      text-align: center;
    }
  }

  //.product-modal {z-index: 10000;}
}

.product-management, .cart {
  button {
    -webkit-appearance: none;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 250ms;
    &:hover {transition: all 250ms;}
  }
  div.create-product {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 500px;
    .product-block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
      .form-field {
        width: 45%;
        max-width: 350px;
        display: flex;
        flex-flow: column;
        margin: 0 5px 1rem;
      }
    }
    button.submit-button {
      background: #00A86B;
      &:hover {background: darken(#00A86B, 10%);}
    }
  }
  div.product-table {
    table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;
    }
    table tr {
      background: white;
      border-bottom: 1px solid
    }
    table th, table td {
      padding: 0.5rem 1rem;
    }
    .edit-button {
      background: #2193b0;
      &:hover {background: darken(#2193b0, 10%);}
    }
    .delete-button {
      background: #dc3545;
      &:hover {background: darken(#dc3545, 10%);}
    }
  }

  th.filter {
    color: #2193b0;
    cursor: pointer;
  }

  p.total-cost {
    color: $boulder;
    font-size: 2rem;
    margin: 1rem auto;
    width: 90%;
    text-align: right;
    span {font-size: 1.7rem; font-weight: 700;}
  }

  div.date-selection {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
    padding: 1rem;
    h3 {font-size: 1.1rem; margin: 1rem; text-align: center;}
    div.date-container {
      flex: 1 0 auto;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 1rem;
      > div {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        margin: 10px 10px 0;
      }
    }
    .react-datepicker-wrapper {
      input {width: 100%;}
    }
    button.search-button {
      max-width: 200px;
      font-size: 1rem;
      background: #00A86B;
      &:hover {background: darken(#00A86B, 10%);}
    }
  }
}

.cart {
  button.checkout-button {
    background: #00A86B;
    &:hover {background: darken(#00A86B, 10%);}
  }
  p.total-cost {
    color: $boulder;
    font-size: 2rem;
    margin: 1rem auto;
    width: 90%;
    text-align: right;
    span {font-size: 1.7rem; font-weight: 700;}
  }
  td.cart-quantity {
    display: table-cell;
    align-items: center;
    width: 20%;
    span {margin: 0 5px;}
    button {
      border-radius: 50%;
      background: #2193b0;
      padding: 2px;
      max-width: 26px;
      &:hover {background: darken(#2193b0, 10%);}
    }
  }
}
